@using BlazorBootstrap
@using Web.Extensions
@inherits RoleViewBase

<h3>Rollen:</h3>

@foreach (var (role, roleMembers) in RoleMembersDict)
{
    var header = role.Name + (roleMembers.Any() ? "" : " - Ohne Mitglied");

    <table class="table">
        <thead>
            <tr @onmouseenter="() => HoveredId = role.Id" @onmouseleave="() => HoveredId = null">
                <th scope="col">@header</th>
                <th>Sperrzeitraum: @role.LockingPeriod Tage</th>
                <th>
                    <button style="visibility:  @(HoveredId == role.Id ? "visible" : "hidden")"
                            type="button" @onclick="() => EditOrCreateRole(role)"
                            class="btn btn-outline-dark">
                        <i class="bi bi-pencil"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in roleMembers)
            {
                <tr>
                    <td>
                        @member.Name
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<button class="btn btn-primary" @onclick="() => EditOrCreateRole(null)">Rolle hinzufügen</button>

<div class="my-5" />

<h3>Bedarfsgruppen:</h3>
@if (RequirementGroups?.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Bedarf</th>
                <th scope="col" />
            </tr>
        </thead>
        <tbody>
            @foreach (var (group, index) in RequirementGroups.Select((group, index) => (group, index)))
            {
                <tr @onmouseenter="() => HoveredId = group.Id" @onmouseleave="() => HoveredId = null">
                    <td>
                        @GetGroupDisplayText(group)
                    </td>
                    <td>
                        <button @onclick="() => EditOrCreateRequirementGroup(group)"
                                class="btn btn-outline-dark"
                                style="visibility: @(HoveredId == group.Id ? "visible" : "hidden")">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br/>
<button class="btn btn-primary" @onclick="() => EditOrCreateRequirementGroup(null)">Bedarfsgruppe hinzufügen</button>

<div class="mb-5"/>