@page "/{departmentUrl}/event/{gameId}"
@using LeafletForBlazor
@using Web.Views.Checkbox
@inherits EventPageBase

@if (IsPageLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

@if(Event == null)
{
    <div>No game found</div>
    return;
}

<p class="fs-3">
    @GetPageTitle()
</p>

@if(Helpers.Any())
{    
    <p class="fs-3">Helfer:</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Eintragung</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Bedarf</th>
                    <th scope="col">Feste Helfer</th>
                    <AuthorizeView Roles="IsAdmin">
                        <th scope="col">Vorausgewählte Helfer</th>
                        <th scope="col">Verfügbare Helfer</th>
                    </AuthorizeView>
                    <th scope="col">Zugelassene Gruppen</th>
                    <th scope="col">Sperrzeitpunkt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var help in Helpers)
                {
                    var role = GetRoleById(help.RoleId);
                    <tr>
                        <th><HelperCheckbox Event="Event" Helper="help" Role="role" Member="Member" Groups="Groups" ValueChangedCallback="StateHasChanged" /></th>
                        <th>@role.Name</th>
                        <th>@help.RequiredAmount</th>
                        <th class="position-relative">
                            @(GetDisplayMemberNames(help.LockedMembers))
                            <AuthorizeView Roles="IsAdmin">
                                <i class="bi bi-plus-lg position-absolute top-0 end-0 mt-2 me-1 cursor-pointer d-inline-block"
                                @onclick="() => OpenLockedMembersSelected(help)"></i>
                            </AuthorizeView>
                        </th>
                        <AuthorizeView Roles="IsAdmin">
                            <th>@GetDisplayMemberNames(help.PreselectedMembers)</th>
                            <th>@GetDisplayMemberNames(help.AvailableMembers)</th>
                        </AuthorizeView>
                        <th>@{
                                var ret = GetDisplayGroupNames(help.RequiredGroups);
                                @if(ret.Item2)
                                {
                                    <i>@ret.Item1</i>
                                }
                                else
                                {
                                    @ret.Item1
                                }
                            }</th>
                        <th>@help.LockingTime.ToLocalTime().ToString("dd.MM.yyyy")</th>
                    </tr>            
                }        
            </tbody>
        </table>
    </div>
}