@page "/{departmentUrl}/event/{gameId}"
@using LeafletForBlazor
@using Web.Helper
@using Web.Views.Checkbox
@inherits EventPageBase

@if (IsPageLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

@if(Event == null)
{
    <div>No game found</div>
    return;
}

<p class="fs-3">
    @GetPageTitle()
</p>

<MudDataGrid Items="Helpers">
    <NoRecordsContent>
        Keine Bedarfe angegeben
    </NoRecordsContent>
    <Columns>
        <TemplateColumn Title="Eintragung">
            <CellTemplate>
                <HelperCheckbox Event="Event" Helper="@context.Item" Role="@GetRoleById(context.Item.RoleId)" Member="Member" ValueChangedCallback="StateHasChanged" />
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Kategorie">
            <CellTemplate>
                <MudText>@(GetRoleById(@context.Item.RoleId).Name)</MudText>                
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="req => req.RequiredAmount" Title="Bedarf" Sortable="false" />
        <TemplateColumn Title="Feste Helfer">
            <CellTemplate>
                @(GetDisplayMemberNames(context.Item.LockedMembers))
                <AuthorizeView Roles="IsAdmin" Context="authContext">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="() => OpenLockedMembersSelected(context.Item)" />                   
                </AuthorizeView>
            </CellTemplate>
        </TemplateColumn>
        @if(AuthState.User.IsInRole("IsAdmin"))
        {
            <PropertyColumn Title="Vorausgewählte Helfer" Property="req => GetDisplayMemberNames(req.PreselectedMembers)" Sortable="false" />
            <PropertyColumn Title="Verfügbare Helfer" Property="req => GetDisplayMemberNames(req.AvailableMembers)" Sortable="false" />
            <PropertyColumn Title="Empfohlene Helfer" Property="req => GetDisplayMemberNames(req.FillMembers)" Sortable="false" />
        }
        <TemplateColumn Title="Zugelassene Gruppen">
            <CellTemplate>
                @{
                    var ret = GetDisplayGroupNames(context.Item.RequiredGroups);
                }
                @if (ret.Item2)
                {
                    <i>@ret.Item1</i>
                }
                else
                {
                    @ret.Item1
                }
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="Sperrzeitpunkt">
            <CellTemplate>
                @context.Item.LockingTime.ToLocalTime().ToString("dd.MM.yyyy")
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@* @if(Location != null)
{
    var mapParameters = MapHelper.GetMapParameter(Location);
    <LeafletForBlazor.RealTimeMap Parameters="mapParameters" width="100%" height="400px">

    </LeafletForBlazor.RealTimeMap>    
} *@