@page "/{departmentUrl}/"
@using BlazorBootstrap
@using Web.Extensions
@using Web.Views.Checkbox
@inherits HomeBase

@if(IsPageLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

@if (FilteredEvents == null)
    return;

<MudStack Row>
    <MudTooltip Arrow Text="Du bist fest als Helfer eingeplant. Du kannst dich nicht mehr austragen.">
        <div style="pointer-events:auto;">
            <MudCheckBox Style="pointer-events:none;" Disabled Value="true" Label="Fest eingeplant" />
        </div>
    </MudTooltip>
    <MudTooltip Arrow Text="Du hast dich als verfügbar eingetragen und wurdest als Helfer vorgemerkt. Du kannst dich weiterhin austragen.">
        <div style="pointer-events:auto;">
            <MudCheckBox Style="pointer-events:none;" Color="Color.Warning" Value="true" Label="Verfügbar und vorgemerkt" />
        </div>
    </MudTooltip>
    <MudTooltip Arrow Text="Du hast dich als verfügbar eingetragen, wurdest aber noch nicht als Helfer ausgewählt. Du kannst dich jederzeit austragen.">
        <div style="pointer-events:auto;">
            <MudCheckBox Style="pointer-events:none;" Color="Color.Success" Value="true" Label="Verfügbar" />
        </div>
    </MudTooltip>
    <MudTooltip Arrow Text="Du hast dich nicht als verfügbar eingetragen.">
        <div style="pointer-events:auto;">
            <MudCheckBox Style="pointer-events:none" Color="Color.Error" Value="false" Label="Nicht eingetragen" />
        </div>
    </MudTooltip>
    <MudTooltip Arrow Text="Du bist nicht zugelassen dich bei diesem Event in dieser Rolle einzutragen.">
        <div style="pointer-events:auto;">
            <MudCheckBox Style="pointer-events:none" Color="Color.Error" Value="false" Disabled Label="Nicht zulässig" />
        </div>
    </MudTooltip>
    
    <MudSpacer/>
    <AuthorizeView Roles="IsAdmin">
        <Authorized>
            <MudButton OnClick="() => EditGame(null)" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">
                Event erstellen
            </MudButton>
        </Authorized>
    </AuthorizeView>    
    <MudMenu Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Label="Filter">
        <MudMenuItem>
            <MudCheckBox Label="Events ohne Eintragung ausblenden" @bind-Value="HideEventsWithoutEntering" />
        </MudMenuItem>
        <MudMenuItem>
            <MudCheckBox Label="Alle Rollen anzeigen" @bind-Value="ShowAllRoles" />
        </MudMenuItem>
    </MudMenu>
</MudStack>


@{
    var relevantRoles = GetRelevantRoles();
}

<MudDataGrid @ref="EventsGrid" SortMode="SortMode.None" Items="Events" Groupable="true" Hover Filterable FilterMode="DataGridFilterMode.ColumnFilterMenu" QuickFilter="FilterEvent" @key="relevantRoles.Count()">
    <Columns>
        <PropertyColumn Title="Gruppe" Groupable="true" Property="e => e.GroupId" GroupingChanged="GroupGroupingChanged" Filterable="false">
            <GroupTemplate>
                @{
                    var group = GetGroupById(context.Grouping.Key as string);
                    var name = group?.Name ?? "Sonstiges";
                }
                <MudText>@name</MudText>             
            </GroupTemplate>
            <CellTemplate>
                @{
                    var group = GetGroupById(context.Item.GroupId);
                    var name = group?.Name ?? "-";
                }
                <MudText>@name</MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Eventkategorie" Groupable="true" Property="e => e.EventCategoryId" GroupingChanged="EventCategoryGroupingChanged" Filterable="false">
            <GroupTemplate>
                @{
                    var eventCategory = GetEventCategoryById(context.Grouping.Key as string);
                    var name = eventCategory?.Name ?? "Sonstiges";
                }
                <MudText>@name</MudText>
            </GroupTemplate>
            <CellTemplate>
                @{
                    var eventCategory = GetEventCategoryById(context.Item.EventCategoryId);
                    var name = eventCategory?.Name ?? "-";
                }
                <MudText>@name</MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Datum" Property="e => e.EventDate" Groupable="false" Filterable="true" Chang>
            <FilterTemplate>
                <MudCheckBox Label="Vergangene Events ausblenden" @bind-Value="HidePastEvents" />
            </FilterTemplate>
            <CellTemplate>
                @{
                    var dateString = context.Item.EventDate.ToString("dd.MM.yyyy HH:mm");
                }
                <MudText>@dateString</MudText>
            </CellTemplate>
        </PropertyColumn>
        @foreach (var role in relevantRoles)
        {
            <TemplateColumn Title="@role.Name" Context="columnContext" Groupable="false">
                <CellTemplate>
                    @{
                        var helpers = GetHelpers(columnContext.Item);
                        var helper = helpers.Find(helper => helper.RoleId == role.Id);
                        @if (helper != null)
                        {
                            <MudStack Row>
                                <HelperCheckbox Event="@columnContext.Item" Helper="helper" Member="Member" Role="role" Groups="Groups" />
                                <AuthorizeView Roles="IsAdmin">
                                    <MudTooltip Arrow>
                                        <ChildContent>
                                                <MudText>@(helper.GetRegistrationCount())</MudText>
                                        </ChildContent>
                                        <TooltipContent>
                                            @(helper.GetRegisteredMembers(Members))
                                        </TooltipContent>
                                    </MudTooltip>
                                </AuthorizeView>                            
                            </MudStack>
                        }
                    }
                </CellTemplate>
            </TemplateColumn>
        }
        <TemplateColumn Context="columnContext" Groupable="false" >
            <CellTemplate>
                <MudButtonGroup Variant="Variant.Outlined" Size="Size.Small">
                    <MudIconButton Icon="@Icons.Material.Outlined.Search" OnClick="() => OpenGame(columnContext.Item)"></MudIconButton>
                    <AuthorizeView Roles="IsAdmin">
                        <Authorized>
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="() => EditGame(columnContext.Item)"></MudIconButton>                                        
                        </Authorized>
                    </AuthorizeView>
                </MudButtonGroup>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>