@page "/{departmentUrl}/member"
@using BlazorBootstrap
@inherits MemberPageBase

<MudTable Loading="IsMembersLoading" @ref="Table" Items="Members" Breakpoint="Breakpoint.None" EditTrigger="TableEditTrigger.EditButton" CanCancelEdit="true" 
        RowEditCancel="EditCancel" RowEditPreview="CreateEditPreview" RowEditCommit="UpdateMember">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Mitglieder</MudText>
        <MudSpacer/>
        <MudIconButton Variant="Variant.Outlined" Icon="@Icons.Material.Outlined.Add" OnClick="AddDummyMember"/>
    </ToolBarContent>
    <ColGroup>
        <col />
        <col />
        <col style="width:1%"/>
    </ColGroup>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Administrator</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd><MudCheckBox Disabled Value="context.IsAdmin"/></MudTd>
        <MudTd></MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        @if(context.IsDummy)
        {
            <MudTd><MudTextField @bind-Value="context.Name"/></MudTd>
            <MudTd><MudCheckBox Disabled Value="context.IsAdmin" /></MudTd>
        }
        else
        {
            <MudTd>@context.Name</MudTd>
            <MudTd><MudCheckBox @bind-Value="context.IsAdmin" /></MudTd>
        }
        <MudTd><MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="Size.Small" OnClick="() => DeleteMember(context)" /></MudTd>
    </RowEditingTemplate>
</MudTable>


<h2>Beitrittsanfragen:</h2>

@if (MembershipRequests?.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" />
                </tr>
            </thead>
            <tbody>
                @foreach (var request in MembershipRequests)
                {
                    <tr>
                        <td>@request.UserName</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-success" @onclick="() => AnswerRequest(request.Id, true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                                    </svg>
                                </button>
                                <button class="btn btn-danger" @onclick="() => AnswerRequest(request.Id, false)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Keine Anfragen</p>
}