@inherits NavMenuBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Einsatzplaner</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link"  href="@DepartmentUrl" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" Class="mx-2" /> Übersicht
            </NavLink>
        </div>
        <AuthorizeView Roles="IsAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{DepartmentUrl}/groups")">
                        <MudIcon Icon="@Icons.Material.Filled.Group" Class="mx-2" /> Gruppen und Rollen
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{DepartmentUrl}/member")">
                        <MudIcon Icon="@Icons.Material.Filled.Person" Class="mx-2" /> Mitglieder
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{DepartmentUrl}/eventCategory")">
                        <MudIcon Icon="@Icons.Material.Filled.EventNote" Class="mx-2" /> Eventkategorien
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{DepartmentUrl}/locations")">
                        <MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="mx-2" /> Orte
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"{DepartmentUrl}/stats")">
                        <MudIcon Icon="@Icons.Material.Filled.Leaderboard" Class="mx-2"/> Statistiken
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
